<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BuyAHouseDataEntitiesContainer" connectionString="metadata=res://*/BuyAHouseDataEntities.csdl|res://*/BuyAHouseDataEntities.ssdl|res://*/BuyAHouseDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=BuyAHouse;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>